<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <!-- <meta name="google-site-verification" content="w9kHuvlCANs-ldfvTB2fRR8FzOmf8RW71Nx4CJOBX9Y" /> -->
  <title>ゆか＆ひろ（家族世界一周）</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"/>

  <meta name="description" content="Our Trip Life - 家族で世界一周の記録を地図とともに共有しています。">
  <meta name="keywords" content="世界一周, 旅行, Our Trip Life, 家族旅, 地図">
  <!-- <meta name="author" content="ひろ"> -->
  <meta property="og:title" content="Our Trip Life">
  <meta property="og:description" content="家族で世界を旅した記録を地図とYouTubeで紹介しています。">
  <!-- <meta property="og:image" content="https://our-trip-life.onrender.com/static/images/profile.jpg">
  <meta property="og:url" content="https://our-trip-life.onrender.com/"> -->
  <!-- <meta name="twitter:card" content="summary_large_image"> -->
</head>

<body>
  <header>
    <h1>🌏 ゆか＆ひろ（家族世界一周）</h1>
    <nav>
      <a href="/">ホーム</a>
    </nav>
    <!-- <div class="container">
      <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="プロフィール" class="profile">
    </div> -->
  </header>

  <!-- <video autoplay muted loop playsinline id="bg-video"> -->
    <!-- <source src="{{ url_for('static', filename='videos/video.MP4') }}" type="video/mp4"> -->
    <!-- フォールバック: 動画が再生できない場合 -->
  <!-- </video> -->

  <main>

    <section>
      <h2>はじめに</h2>
      <p>このサイトでは、会社をやめた「ゆか」と「ひろ」と、娘の3人で訪れた世界各地の思い出を発信しています。非日常の中から本当の「好き」を見つけ出す物語。</p>
    </section>

    <section>
      <h2>SNS</h2>
      <p>各国の風景や文化をYouTube、Instagramで配信中！</p>
      <a href="https://www.youtube.com/@OurTripLife" target="_blank" class="sns-link">YouTubeチャンネルを見る</a><br>
      <a href="https://instagram.com/yuka_mama_triplife" target="_blank" class="sns-link">Instagramを見る</a>
    </section>

    <h1 style="text-align: center;">🌏 世界一周の軌跡</h1>
    <p>世界一周中に訪れた国を地図にまとめています。ピンをクリックすると、その場所に関連するYouTubeをみることができます。
    </p>
    <div id="map"></div>
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <!-- 自分のJavaScript -->
    <script src="{{ url_for('static', filename='js/map.js') }}"></script>

  </main>

  <footer>
    <p>&copy; 2025 Our Trip Life</p>
  </footer>
</body>

</html>
